<p><b>ФИО:</b> Шагинян Сергей Валерьвич.</p>

<p><b>Возраст:</b> {{ age }} лет.</p>

<p><b>Образование:</b> высшее,</p>

<p>&nbsp &nbsp </b>Новочеркасский военный институт связи, 2002.</p>

<p>&nbsp &nbsp </b>Применение частей и подразделений с электпроводными средствами связи.</p>

<p>&nbsp &nbsp </b>Диплом с отличием, золотая медаль.</p>

<p><b>Курсы:</b> Full-stack разработчик на Python.</p>

<p>&nbsp &nbsp </b>SkillFactory, 2023.</p>

<p><b>Семейное положение:</b> женат</p>

<p><b>Дети:</b> Да, один ребенок</p>

<p><b>Телефон:</b> +7(918)184-94-25</p>

<p><b>E-mail:</b> shagi80@mail.ru</p>

<p><b>Telegram:</b> @shagi80</p>


