{% extends 'base_template.html' %}
{% load static %}

{% block meta_description %}
    <meta name="description" content="Sergey Shaginyan. Developer, Engineer, Manager." />
{% endblock %}

{% block title %}Main{% endblock %}

{% block content %}

<!-- Header -->
<header class="py-5 bg-image-full">
    <div class="text-center my-5 mx-5">
        <img class="img-fluid rounded-circle mb-2" src="{% static 'img/me.jpg' %}" alt="main photo" style="width: 150px;"/>
        <div class="pb-5 pt-2 transparency-gradient">
            <h1 class="fw-bolder m-0 text-primary">Шагинян Сергей</h1>
            <h5 class="fw-bolder m-0" style="letter-spacing: 0.05rem;">Разработчик, Инженер, Менеджер</h5>
        </div>
    </div>
</header> 

<!-- Skill cards -->
<section class="container d-flex flex-row justify-content-center gap-3 flex-wrap float-div"> 
    {% for category in categories %}     
    <div class="card py-3 px-2 border-info shadow" style="width: 18rem;">
        <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.hint }}">
        <div class="d-flex flex-column h-100 text-center p-2">
            <h5 class="card-title text-primary">{{ category.title }}</h5>
            <p class="card-text text-secondary compressed-row">{{ category.short_description }}</p>
            <div class="d-flex align-items-end h-100 justify-content-center">
                <a href="{% url 'projects-category' category=category.slug  %}" class="btn btn-outline-primary"><small>Проекты</small></a>
            </div>
        </div>
    </div>    
    {%  endfor %}
</section>

<div class="splitter my-5 border-info"></div>

<!-- SoftSkills -->
<section class="container my-5 text-center scaled">
    <h2 class="card-title text-primary" id="soft_skills">Soft Skills</h2>
    <p class="text-secondary my-4">
        Высокомотивированный специалист с большим стажем в области разработки и внедрения ПО для автоматизации производственных процессов. Огромный пласт знаний получены путем самообразования, что свидетельствует о высокой обучаемости и целеустремленности. Ключевые качества: аналитический ум, исполнительность, обязательность и умение доводить проекты до успешного завершения, эффективно взаимодействуя с командой.
    </p>
    <div class="d-flex justify-content-center flex-wrap gap-2">
        <div class="skill-card">
            <img src="{% static 'img/study.png' %}" alt="study" />
            <p class="text-secondary">Обучаемость</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'img/attentiveness.png' %}" alt="attentiveness" />
            <p class="text-secondary">Внимательность</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'img/executive.png' %}" alt="executive" />
            <p class="text-secondary">Исполнительность</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'img/finish.png' %}" alt="finish" />
            <p class="text-secondary">Обязательность</p>
        </div>
        <div class="skill-card">
            <img src="{% static 'img/command.png' %}" alt="command" />
            <p class="text-secondary">Коммуникабельность</p>
        </div>
    </div>
    
    <picture>
        <source media="(max-width: 576px)" srcset="{% static 'img/i_love_it_2.jpg' %}">
        <source media="(max-width: 768px)" srcset="{% static 'img/i_love_it_1.jpg' %}">
        <img class="w-50" src="{% static 'img/i_love_it.jpg' %}" alt="I love IT">
    </picture>
</section>

<!-- Biography -->
<section class="container my-5 text-center scaled">
    
    <h2 class="card-title text-primary mb-4" id="biography">Biorgaphy & Contacts</h2>

    <div class="border p-4 rounded-start rounded-end border-info my-5 shadow">
        <!-- Bigraphy buttons -->
        <ul class="nav nav-pills mb-3 justify-content-center gap-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-text-tab" data-bs-toggle="pill" data-bs-target="#pills-text" type="button" role="tab" aria-controls="pills-text" aria-selected="true">
                    <img src="{% static 'img/icoText.svg' %}" alt="text" width="16" height="16">
                    <span>Текст</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-delphi-tab" data-bs-toggle="pill" data-bs-target="#pills-delphi" type="button" role="tab" aria-controls="pills-delphi" aria-selected="false">
                    <img src="{% static 'img/icoDelphi.svg' %}" alt="delphi" width="16" height="16">
                    <span>Delphi</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-python-tab" data-bs-toggle="pill" data-bs-target="#pills-python" type="button" role="tab" aria-controls="pills-python" aria-selected="false">
                    <img src="{% static 'img/icoPython.svg' %}" alt="python" width="16" height="16">
                    <span>Python</span>
                </button>
            </li>
        </ul>
        <!-- Biography body -->
        <div class="bg-image-full" style="position: relative;">
            <!-- Copy button -->
            <div class="biorgaphy-copy">
                <button class="btn btn-info btn-round" type="button" id="copy-button" data-toggle="tooltip" data-placement="bottom" title="Копирование в буфер обмена">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                    </svg>
                </button>
            </div>
            <!--Copy result message -->
            <div class="modal fade" id="copyMsgModal" tabindex="-1" role="dialog" aria-labelledby="copyMsg" style="display: none;" aria-hidden="true"> 
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="text-end">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <p id="copyMsg">Биография скопирована в буфер обмена !</p>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- Biography cards -->
            <div class="tab-content biorgaphy-card language-python hljs" id="pills-tabContent" style="height: 500px;">
                <div class="tab-pane fade show active p-3 biography-text" id="pills-text" role="tabpanel" aria-labelledby="pills-home-tab">
                    {% include 'main/inc_text.html' %}
                </div>
                <div class="tab-pane fade" id="pills-delphi" role="tabpanel" aria-labelledby="pills-profile-tab">
                    {% include 'main/inc_delphi.html' %}
                </div>
                <div class="tab-pane fade" id="pills-python" role="tabpanel" aria-labelledby="pills-contact-tab">
                    {% include 'main/inc_python.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
    <!--Script for copy to clipboard) -->
    <script src="{% static 'main/js/index.js' %}" type="text/javascript"></script>
{% endblock %}