<div class="carousel-item active text-center">
    <img src="{{ MEDIA_URL }}{{ first_images.image }}" class="w-75" alt="{{ image.title }}">
    <div class="p-4 text-center">
        <p class="text-secondary">{{ first_images.description }}</p>
    </div>
</div>
{% for image in images %}
    <div class="carousel-item text-center">
        <img src="{{ MEDIA_URL}}{{ image.image }}" class="w-75" alt="{{ image.title }}">
        <div class="p-4 text-center">
            <p class="text-secondary">{{ image.description }}.</p>
        </div>
    </div>
{% endfor %}
                